<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/default-theme.html">
<link rel="import" href="../../bower_components/paper-styles/color.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">
<link rel="import" href="../../bower_components/paper-styles/shadow.html">

<style is="custom-style">

/* VARIÁVEIS E MIXINS */
:root {

    /* Tipografia */
    --paper-font-display4: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 119px; /* font-size: 112px; */
        font-weight: 300;
        letter-spacing: -.044em;
        line-height: 128px; /* line-height: 120px; */
    };

    --paper-font-display3: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 63px; /* font-size: 56px; */
        font-weight: 400;
        letter-spacing: -.026em;
        line-height: 68px; /* line-height: 60px; */
    };

    --paper-font-display2: {
        @apply(--paper-font-common-base);
        font-size: 52px; /* font-size: 45px; */
        font-weight: 400;
        letter-spacing: -.018em;
        line-height: 56px; /* line-height: 48px; */
    };

    --paper-font-display1: {
        @apply(--paper-font-common-base);
        font-size: 41px; /* font-size: 34px; */
        font-weight: 400;
        letter-spacing: -.01em;
        line-height: 48px; /* line-height: 40px; */
    };

    --paper-font-headline: {
        @apply(--paper-font-common-base);
        font-size: 30px; /* font-size: 24px; */
        font-weight: 400;
        letter-spacing: -.012em;
        line-height: 40px; /* line-height: 32px; */
    };

    --paper-font-title: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 26px; /* font-size: 20px; */
        font-weight: 500;
        line-height: 36px; /* line-height: 28px; */
    };

    --paper-font-subhead: {
        @apply(--paper-font-common-base);
        font-size: 22px; /* font-size: 16px; */
        font-weight: 400;
        line-height: 32px; /* line-height: 24px; */
    };

    --paper-font-body2: {
        @apply(--paper-font-common-base);
        font-size: 20px; /* font-size: 14px; */
        font-weight: 500;
        line-height: 32px; /* line-height: 24px; */
    };

    --paper-font-body1: {
        @apply(--paper-font-common-base);
        font-size: 20px; /* font-size: 14px; */
        font-weight: 400;
        line-height: 28px; /* line-height: 20px; */
    };

    --paper-font-caption: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 17px; /* font-size: 12px; */
        font-weight: 400;
        letter-spacing: 0.011em;
        line-height: 28px; /* line-height: 20px; */
    };

    --paper-font-menu: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 17px; /* font-size: 13px; */
        font-weight: 200;
        line-height: 32px; /* line-height: 24px; */
    };

    --paper-font-button: {
        @apply(--paper-font-common-base);
        @apply(--paper-font-common-nowrap);
        font-size: 19px; /* font-size: 14px; */
        font-weight: 500;
        letter-spacing: 0.018em;
        line-height: 32px; /* line-height: 24px; */
        text-transform: uppercase;
    };

    /* Tema ativo */
    --primary-background-color: var(--dark-theme-background-color);
    --primary-text-color: var(--dark-theme-text-color);
    --secondary-text-color: var(--dark-theme-secondary-color);
    --disabled-text-color: var(--dark-theme-disabled-color);
    --divider-color: var(--dark-theme-divider-color);

    /* Tema para fundo claro */
    --light-theme-background-color: #ffffff;
    --light-theme-text-color: rgba(0, 0, 0 , var(--dark-primary-opacity));
    --light-theme-secondary-color: rgba(0, 0, 0 , var(--dark-secondary-opacity));
    --light-theme-disabled-color: rgba(0, 0, 0 , var(--dark-disabled-opacity));
    --light-theme-divider-color: rgba(0, 0, 0 , var(--dark-divider-opacity));

    /* Tema para fundo escuro */
    --dark-theme-background-color: var(--paper-grey-900);
    --dark-theme-text-color: rgba(255, 255, 255, var(--light-primary-opacity));
    --dark-theme-secondary-color: rgba(255, 255, 255, var(--light-secondary-opacity));
    --dark-theme-disabled-color: rgba(255, 255, 255, var(--light-disabled-opacity));
    --dark-theme-divider-color: rgba(255, 255, 255, var(--light-divider-opacity));

    /* Cores */
    --primary-color: var(--cor-3);
    --light-primary-color: var(--cor-1);
    --dark-primary-color: var(--cor-5);
    --accent-color: var(--cor-6);
    --light-accent-color: var(--cor-2);
    --dark-accent-color: var(--cor-4);

    /* Simplificação das cores */
    --cor-1: #c2eac2;
    --cor-2: #81d581;
    --cor-3: #40bf40;
    --cor-4: #2b7f2b;
    --cor-5: #153f15;
    --cor-6: #3f153f;

    /* Outros */
    --inclinacao: -3.6deg;
    --sombra-texto: {
        text-shadow: 0 2px 2px rgba(0, 0, 0, 0.66);
    };

}

/* ELEMENTOS NATIVOS */
html {
    @apply(--paper-font-body1);
    font-weight: 300;
    background-color: var(--dark-theme-background-color);
    color: var(--dark-theme-text-color);
    margin: 0;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
    @apply(--paper-font-body1);
    font-weight: 300;
    margin: 0;
}
img {
    max-width: 100%;
    max-height: 100%;
}
ul, ol, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    color: var(--primary-color);
}
b {
    font-weight: 700;
}
i {
    font-style: italic;
}
#metodos-contato a {
    display: block;
}

/* ELEMENTOS PERSONALIZADOS */
paper-button {
    @apply(--paper-font-button);
    margin: 0;
}

/* CLASSES */

/* IDS */

/* MEDIA QUERIES (BREAKPOINTS) */
@media (max-width: 479px) {

    /* Variáveis e mixins */
    :root {
        --320-gutter: 16px;
        --320-1-coluna: 56px;
        --320-2-colunas: 128px;
        --320-3-colunas: 200px;
        --320-4-colunas: 272px;
    }

    /* Elementos Nativos */
    body {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-center-justified);
        width: var(--320-4-colunas);
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    /* IDs */
    #avatar-diogo {
        width: var(--320-2-colunas);
        height: var(--320-2-colunas);
        margin-right: var(--320-gutter);
        transform: rotate(var(--inclinacao));
    }
    #nome-diogo {
        @apply(--paper-font-headline);
        @apply(--layout-self-end);
        width: var(--320-2-colunas);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        transform: rotate(var(--inclinacao));
    }
    #avatar-diogo,
    #nome-diogo {
        margin-bottom: 16px;
    }
    #resumo-diogo {
        @apply(--paper-font-headline);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 64px;
        width: var(--320-4-colunas);
        transform: rotate(var(--inclinacao));
    }
    #contato-headline {
        @apply(--paper-font-headline);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p1,
    #contato-p2 {
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p2 {
        margin-bottom: 24px;
    }
    #metodos-contato {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        width: var(--320-4-colunas);
        max-width: var(--320-4-colunas);
        margin-bottom: 48px;
    }
    #metodos-contato paper-button {
        width: 100%;
        background-color: var(--cor-3);
        color: var(--light-theme-text-color);
    }
    #metodos-contato iron-icon {
        margin-right: 8px;
    }
    #metodo-contato-f {
        margin-bottom: 16px;
    }
    #metodo-contato-e {
        margin-bottom: 16px;
    }
    #rodape {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        width: var(--320-4-colunas);
        border-top: 1px solid var(--dark-theme-divider-color);
        transform: rotate(var(--inclinacao));
    }
    #logo {
        width: var(--320-2-colunas);
        height: var(--320-2-colunas);;
    }

    /* Classes */
    .habilidade {
        @apply(--shadow-elevation-2dp);
        background-color: var(--cor-5);
        margin-bottom: 48px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 2px;
        transform: rotate(var(--inclinacao));
    }
    .habilidade h2 {
        @apply(--paper-font-headline);
        @apply(--paper-font-common-nowrap);
        @apply(--sombra-texto);
        max-width: var(--320-4-colunas);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        margin-top: -24px;
        margin-bottom: 8px;
    }
    .habilidade-alt {
        background-color: var(--cor-6);
    }
    .metodo-contato {
        width: var(--320-4-colunas);
        transform: rotate(var(--inclinacao));
    }
}

@media (min-width: 480px) and (max-width: 599px) {

    /* Variáveis e mixins */
    :root {
        --480-gutter: 16px;
        --480-1-coluna: 96px;
        --480-2-colunas: 208px;
        --480-3-colunas: 320px;
        --480-4-colunas: 432px;
    }

    /* Elementos Nativos */
    body {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-center-justified);
        width: var(--480-4-colunas);
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    /* IDs */
    #avatar-diogo {
        width: var(--480-2-colunas);
        height: var(--480-2-colunas);
        margin-right: var(--480-gutter);
        transform: rotate(var(--inclinacao));
    }
    #nome-diogo {
        @apply(--paper-font-display1);
        @apply(--layout-self-end);
        width: var(--480-2-colunas);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        transform: rotate(var(--inclinacao));
    }
    #avatar-diogo,
    #nome-diogo {
        margin-bottom: 16px;
    }
    #resumo-diogo {
        @apply(--paper-font-display1);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 64px;
        width: var(--480-4-colunas);
        transform: rotate(var(--inclinacao));
    }
    #contato-headline {
        @apply(--paper-font-display1);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p1,
    #contato-p2 {
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p2 {
        margin-bottom: 24px;
    }
    #metodos-contato {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        width: var(--480-4-colunas);
        max-width: var(--480-4-colunas);
        margin-bottom: 48px;
    }
    #metodos-contato paper-button {
        width: 100%;
        background-color: var(--cor-3);
        color: var(--light-theme-text-color);
    }
    #metodos-contato iron-icon {
        margin-right: 8px;
    }
    #metodo-contato-f {
        margin-bottom: 16px;
    }
    #metodo-contato-e {
        margin-bottom: 16px;
    }
    #rodape {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        width: var(--480-4-colunas);
        border-top: 1px solid var(--dark-theme-divider-color);
        transform: rotate(var(--inclinacao));
    }
    #logo {
        width: var(--480-2-colunas);
        height: var(--480-2-colunas);;
    }

    /* Classes */
    .habilidade {
        @apply(--shadow-elevation-2dp);
        background-color: var(--cor-5);
        margin-bottom: 48px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 2px;
        transform: rotate(var(--inclinacao));
    }
    .habilidade h2 {
        @apply(--paper-font-display1);
        @apply(--paper-font-common-nowrap);
        @apply(--sombra-texto);
        max-width: var(--480-4-colunas);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        margin-top: -28px;
        margin-bottom: 16px;
    }
    .habilidade-alt {
        background-color: var(--cor-6);
    }
    .metodo-contato {
        width: var(--480-4-colunas);
        transform: rotate(var(--inclinacao));
    }
}

@media (min-width: 600px) /* and (max-width: 839px) */ {
    :root {
        --600-gutter: 16px;
        --600-1-coluna: 56px;
        --600-2-colunas: 128px;
        --600-3-colunas: 200px;
        --600-4-colunas: 272px;
        --600-5-colunas: 344px;
        --600-6-colunas: 416px;
        --600-7-colunas: 488px;
        --600-8-colunas: 560px;
    }

    /* Elementos Nativos */
    body {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        @apply(--layout-center-justified);
        width: var(--600-8-colunas);
        margin-left: auto;
        margin-right: auto;
        margin-top: -10px;
    }

    /* IDs */
    #avatar-diogo {
        width: var(--600-3-colunas);
        height: var(--600-3-colunas);
        margin-right: var(--600-gutter);
        transform: rotate(var(--inclinacao));
    }
    #nome-diogo {
        @apply(--paper-font-display2);
        @apply(--layout-self-end);
        width: var(--600-4-colunas);
        margin-right: auto;
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        transform: rotate(var(--inclinacao));
    }
    #avatar-diogo,
    #nome-diogo {
        margin-bottom: 24px;
    }
    #resumo-diogo {
        @apply(--paper-font-display2);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 64px;
        width: var(--600-8-colunas);
        transform: rotate(var(--inclinacao));
    }
    #contato-headline {
        @apply(--paper-font-display2);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        color: var(--cor-3);
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p1,
    #contato-p2 {
        margin-bottom: 16px;
        transform: rotate(var(--inclinacao));
    }
    #contato-p2 {
        margin-bottom: 24px;
    }
    #metodos-contato {
        @apply(--layout-horizontal);
        @apply(--layout-wrap);
        width: var(--600-8-colunas);
        max-width: var(--600-8-colunas);
        margin-bottom: 48px;
        transform: rotate(var(--inclinacao));
    }
    #metodos-contato paper-button {
        width: 100%;
        background-color: var(--cor-3);
        color: var(--light-theme-text-color);
    }
    #metodos-contato iron-icon {
        margin-right: 8px;
    }
    #metodo-contato-f {
        width: var(--600-3-colunas);
        margin-bottom: 16px;
        margin-right: var(--600-gutter);
    }
    #metodo-contato-e {
        width: var(--600-2-colunas);
        margin-bottom: 16px;
        margin-right: var(--600-gutter);
    }
    #metodo-contato-d {
        width: var(--600-3-colunas);
        margin-bottom: 16px;
    }
    #rodape {
        @apply(--layout-horizontal);
        @apply(--layout-center-justified);
        width: var(--600-8-colunas);
        border-top: 1px solid var(--dark-theme-divider-color);
        transform: rotate(var(--inclinacao));
    }
    #logo {
        width: var(--600-2-colunas);
        height: var(--600-2-colunas);;
    }

    /* Classes */
    .habilidade {
        @apply(--shadow-elevation-2dp);
        background-color: var(--cor-5);
        margin-bottom: 48px;
        margin-left: -16px;
        margin-right: -16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        border-radius: 2px;
        transform: rotate(var(--inclinacao));
    }
    .habilidade h2 {
        @apply(--paper-font-display2);
        @apply(--paper-font-common-nowrap);
        @apply(--sombra-texto);
        max-width: var(--600-8-colunas);
        font-family: 'Work Sans', sans-serif;
        font-weight: 300;
        margin-top: -28px;
        margin-bottom: 16px;
    }
    .habilidade-alt {
        background-color: var(--cor-6);
    }
    .metodo-contato {
        /*width: var(--600-8-colunas);*/
    }
}

@media (min-width: 840px) and (max-width: 959px) {
    :root {
        --840-gutter: 24px;
        --840-1-coluna: 40px;
        --840-2-colunas: 104px;
        --840-3-colunas: 168px;
        --840-4-colunas: 232px;
        --840-5-colunas: 296px;
        --840-6-colunas: 360px;
        --840-7-colunas: 424px;
        --840-8-colunas: 488px;
        --840-9-colunas: 552px;
        --840-10-colunas: 616px;
        --840-11-colunas: 680px;
        --840-12-colunas: 744px;
    }
}

@media (min-width: 960px) and (max-width: 1279px) {
    :root {
        --960-gutter: 24px;
        --960-1-coluna: 48px;
        --960-2-colunas: 120px;
        --960-3-colunas: 192px;
        --960-4-colunas: 264px;
        --960-5-colunas: 336px;
        --960-6-colunas: 408px;
        --960-7-colunas: 480px;
        --960-8-colunas: 552px;
        --960-9-colunas: 624px;
        --960-10-colunas: 696px;
        --960-11-colunas: 768px;
        --960-12-colunas: 840px;
    }
}

@media (min-width: 1280px) and (max-width: 1439px) {
    :root {
        --1280-gutter: 24px;
        --1280-1-coluna: 80px;
        --1280-2-colunas: 184px;
        --1280-3-colunas: 288px;
        --1280-4-colunas: 392px;
        --1280-5-colunas: 496px;
        --1280-6-colunas: 600px;
        --1280-7-colunas: 704px;
        --1280-8-colunas: 808px;
        --1280-9-colunas: 912px;
        --1280-10-colunas: 1016px;
        --1280-11-colunas: 1120px;
        --1280-12-colunas: 1224px;
    }
}

@media (min-width: 1440px) and (max-width: 1599px) {
    :root {
        --1440-gutter: 24px;
        --1440-1-coluna: 88px;
        --1440-2-colunas: 200px;
        --1440-3-colunas: 312px;
        --1440-4-colunas: 424px;
        --1440-5-colunas: 536px;
        --1440-6-colunas: 648px;
        --1440-7-colunas: 760px;
        --1440-8-colunas: 872px;
        --1440-9-colunas: 984px;
        --1440-10-colunas: 1096px;
        --1440-11-colunas: 1208px;
        --1440-12-colunas: 1320px;
    }
}

@media (min-width: 1600px) {
    :root {
        --1600-gutter: 24px;
        --1600-1-coluna: 104px;
        --1600-2-colunas: 232px;
        --1600-3-colunas: 360px;
        --1600-4-colunas: 488px;
        --1600-5-colunas: 616px;
        --1600-6-colunas: 744px;
        --1600-7-colunas: 872px;
        --1600-8-colunas: 1000px;
        --1600-9-colunas: 1128px;
        --1600-10-colunas: 1256px;
        --1600-11-colunas: 1384px;
        --1600-12-colunas: 1512px;
    }
}

</style>
