<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://o-diogocampos.rhcloud.com/a-solucao-para-tudo.html" />
        <meta name="application-name" content="A Solução Para Tudo">
        <title>A Solução Para Tudo</title>
        <meta property="og:title" content="A Solução Para Tudo" />
        <meta name="description" content="Uma obra literária completamente sem sentido e desconexa; que satiriza, sutilmente, livros, mercado, tradicionalismo, retórica e ausência de conteúdo.">
        <meta property="og:description" content="Uma obra literária completamente sem sentido e desconexa; que satiriza, sutilmente, livros, mercado, tradicionalismo, retórica e ausência de conteúdo." />
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="http://o-diogocampos.rhcloud.com/">
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="temp/css/a-solucao-para-tudo.css" inline>
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-a-solucao-para-tudo.png">
        <meta property="og:image" content="http://o-diogocampos.rhcloud.com/img/icone-a-solucao-para-tudo.png" />
    </head>
    <body>
        <div id="introducao" class="secao">
            <% include temp/solucao-introducao.html %>
        </div>
        <% include ejs/solucao-rodape.ejs %>
    </body>
</html>
