<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://o-diogocampos.rhcloud.com/aline-em-lugar-algum.html" />
        <meta name="application-name" content="Aline Em Lugar Algum">
        <title>Aline Em Lugar Algum</title>
        <meta property="og:title" content="Aline Em Lugar Algum" />
        <meta name="description" content="Uma história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central.">
        <meta property="og:description" content="Uma história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central." />
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="http://o-diogocampos.rhcloud.com/">
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="temp/css/aline-em-lugar-algum.css" inline>
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-aline-em-lugar-algum.png">
        <meta property="og:image" content="http://o-diogocampos.rhcloud.com/img/icone-aline-em-lugar-algum.png" />
    </head>
    <body>
        <nav>
            <div class="nav-container">
                <a class="botao-topo" href="aline-em-lugar-algum-capitulo-1.html">Capítulo 1</a>
            </div>
        </nav>
        <div id="sobre" class="secao">
            <% include temp/aline-sobre.html %>
        </div>
        <div id="capitulos" class="secao espaco-baixo">
            <h1>Leia!</h1>
            <ul>
                <li><a href="aline-em-lugar-algum-capitulo-1.html">Capítulo 1</a>: Apresenta Ela</li>
                <li><a href="aline-em-lugar-algum-capitulo-2.html">Capítulo 2</a>: ???</li>
            </ul>
        </div>
        <div id="funcionamento" class="secao">
            <% include temp/aline-como-funciona.html %>
        </div>
        <div id="liberdade" class="secao">
            <% include temp/todos-liberdade.html %>
        </div>
        <footer class="">
            <% include ejs/aline-rodape.ejs %>
        </footer>
    </body>
</html>
