<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://o-diogocampos.rhcloud.com/aline-em-lugar-algum-capitulo-2.html" />
        <meta name="application-name" content="Capítulo 2 de Aline Em Lugar Algum">
        <title>Capítulo 2 de Aline Em Lugar Algum</title>
        <meta property="og:title" content="Capítulo 2 de Aline Em Lugar Algum" />
        <meta name="description" content="Segundo capítulo da história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central.">
        <meta property="og:description" content="Segundo capítulo da história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central." />
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="http://o-diogocampos.rhcloud.com/">
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="temp/css/aline-em-lugar-algum.css" inline>
        <script src="js/inline/dcl.js" inline></script>
        <script src="js/aline.js" async></script>
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-aline-em-lugar-algum.png">
        <meta property="og:image" content="http://o-diogocampos.rhcloud.com/img/icone-aline-em-lugar-algum.png" />
    </head>
    <body>
        <nav>
            <div class="nav-container">
                <a class="botao-topo" href="aline-em-lugar-algum-capitulo-1.html">Capítulo 1</a>
                <a class="botao-topo" href="aline-em-lugar-algum.html">Sobre</a>
            </div>
        </nav>
        <div id="capitulo-2" class="secao">
            <h1>Capítulo 2: ???</h1>
            <p>O Capítulo 2 ainda não existe. Ele seguirá o rumo mais votado, e será criado quando a meta financeira for alcançada.</p>
        </div>
        <div id="decida" class="secao">
            <h1>Decida!</h1>
            <p>O que Aline deve fazer, no Capítulo 2?<p>
            <p>- Fugir de "Aquilo".<br>
            - Enfrentar "Aquilo".</p>
            <p>Vote gratuitamente através do <a href="https://www.facebook.com/groups/AlineEmLugarAlgum/permalink/181224632220683/">Facebook</a> ou do <a href="https://diasporabrazil.org/posts/1110530">Diaspora</a>!<p>
        </div>
        <div id="estado" class="secao">
            <h1>Estado atual e meta</h1>
            <p>Até o momento, o <b>Capítulo 2</b> está <b><span id="porcentagem">5,5</span>%</b> financiado.</p>
            <p>Ou seja, foi conseguido <b>11 Reais</b> da meta de <b>200 Reais</b> (mais ou menos 0.200 Bitcoins).</p>
        </div>
        <div id="contribua" class="secao">
            <h1>Contribua!</h1>
            <div id="metodo-de-contribuicao" class="espaco-baixo">
                <p>Ajude o Capítulo 2 a existir, contribuindo com <b>qualquer quantidade</b> de...</p>
                <label><input id="opcao-reais" type="radio" name="forma-contribuicao" checked> Reais.</label><br>
                <label><input id="opcao-bitcoins" type="radio" name="forma-contribuicao"> Bitcoins.</label><br>
                <label class="desabilitado"><input id="opcao-litecoins" type="radio" name="forma-contribuicao" disabled> Litecoins (em breve).</label><br>
            </div>
            <div id="bloco-reais" class="oculto sub-secao">
                <p>Para contribuir com <b>Reais</b>, use o PagSeguro:</p>
                <p>
                    <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                    <form action="https://pagseguro.uol.com.br/checkout/v2/donation.html" method="post">
                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                    <input type="hidden" name="currency" value="BRL" />
                    <input type="hidden" name="receiverEmail" value="diogocamposwd@gmail.com" />
                    <input type="image" src="img/pagseguro.svg" name="submit" alt="PagSeguro" />
                    </form>
                    <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                </p>
            </div>
            <div id="bloco-bitcoins" class="oculto sub-secao">
                <p>Para contribuir com <b>Bitcoins</b>, <a href="<%= aline.bitcoin.url %>">clique aqui</a>.</p>
                <p><b>Ou</b> escaneie o QR code:<br><img class="qrcode" src="img/qrcode-aline-bitcoin.svg" alt="QR Code para contribuir com bitcoins."></p>
                <p><b>Ou</b> envie Bitcoins manualmente para:<br><b><%= aline.bitcoin.endereco %></b></p>
            </div>
            <div id="bloco-litecoins" class="oculto sub-secao">
            </div>
        </div>
        <footer class="">
            <% include ejs/aline-rodape.ejs %>
        </footer>
    </body>
</html>
