<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://o-diogocampos.rhcloud.com/c4.html" />
        <meta name="application-name" content="C4">
        <title>C4</title>
        <meta property="og:title" content="C4" />
        <meta name="description" content="Sátira de mídia.">
        <meta property="og:description" content="Sátira de mídia." />
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="http://o-diogocampos.rhcloud.com/">
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="temp/css/c4.css" inline>
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-c4.png">
        <meta property="og:image" content="http://o-diogocampos.rhcloud.com/img/icone-c4.png" />
    </head>
    <body id="pagina-sobre">
        <% include ejs/c4-cabecalho.ejs %>
        <div class="conteudo-pagina">
        <div class="limitador">
            <div class="secao">
                <% include temp/c4-sobre.html %>
            </div>
            <div class="secao divisor-cima">
                <% include temp/todos-liberdade.html %>
            </div>
        </div>
        </div>
        <% include ejs/c4-rodape.ejs %>
    </body>
</html>
