<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta property="og:url" content="http://o-diogocampos.rhcloud.com/cubo-esporte.html" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Nome/Título -->
        <meta name="application-name" content="Cubo Esporte">
        <title>Cubo Esporte</title>
        <meta property="og:title" content="Cubo Esporte" />
        
        <!-- Descrição -->
        <meta name="description" content="Sátira de futebol profissional e mídia de massa.">
        <meta property="og:description" content="Sátira de futebol profissional e mídia de massa." />
        
        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="http://o-diogocampos.rhcloud.com/">
        
        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        
        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        
        <!-- Custom Elements -->
        <link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
        
        <!-- CSS -->
        <!-- <link rel="stylesheet" href="temp/css/cubo-esporte.css" inline> -->
        
        <!-- JS -->
        <!-- <script src="js/inline/cubo-esporte.js" inline></script> -->
        
        <!-- Ícones CE -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-cubo-esporte.png">
        <meta property="og:image" content="http://o-diogocampos.rhcloud.com/img/icone-cubo-esporte.png" />
    </head>
    <body>
        <header>
            <nav id="navegacao">
                <a class="botao" href="#noticias"><img class="icone-nav" src="img/cubo-esporte-icone-noticias.svg" inline><span class="etiqueta-nav">Notícias</span></a>
                <a class="botao" href="#sobre"><img class="icone-nav" src="img/cubo-esporte-icone-sobre.svg" inline><span class="etiqueta-nav">Sobre</span></a>
                <a class="botao" href="#times"><img class="icone-nav" src="img/cubo-esporte-icone-times.svg" inline><span class="etiqueta-nav">Times</span></a>
                <a class="botao" href="#campeonato"><img class="icone-nav" src="img/cubo-esporte-icone-campeonato.svg" inline><span class="etiqueta-nav">Campeonato</span></a>
            </nav>
        </header>
        <div class="pagina" id="noticias-pagina">
            <h1>Últimas notícias</h1>
            <p class="subtitulo">Confira a cobertura exclusiva do <a href="#sobre">Cubo Esporte</a> acerca da <a href="#campeonato">Liga Nacional de Futebol</a>:</p>
            <div class="divisor"></div>
            <ul>
                <li><a href="#noticia-1">BOMBA! Biguaçú contrata fortíssimo reforço para a próxima temporada.</a></li>
            </ul>
        </div>
        <div class="pagina" id="noticia-1-pagina">
            <% include temp/cubo-esporte-noticia-1.html %>
        </div>
        <div class="pagina" id="campeonato-pagina">
            <h1>Campeonato</h1>
            <p><span class="fonte-grande">Liga Nacional de Futebol</span><br>
                Nacionalzão<br>
                Nível 1
            </p>
            <div class="divisor"></div>
            <h1>Classificação</h1>
            <table class="espaco-cima">
                <tr>
                    <td>Escudo</td>
                    <td class="tabela-nome">Nome</td>
                    <td>Pontos</td>
                    <td>Jogos</td>
                    <td>Vitórias</td>
                </tr>
                <%
                    var x;
                    for (x = 0; x <= times.length - 1; x = x + 1) {
                %>
                <tr>
                    <td class="alinhar-centro">
                        <img class="escudo-miniatura" src="img/escudo-<%= times[x].caminho %>.svg" alt="Escudo do <%= times[x].nome %>">
                    </td>
                    <td class="tabela-nome"><%= times[x].nome %></td>
                    <td class="alinhar-direita">0</td>
                    <td class="alinhar-direita">0</td>
                    <td class="alinhar-direita">0</td>
                </tr>
                <%
                    }
                %>
            </table>
            <div class="divisor"></div>
            <h1>Regulamento</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
        </div>
        <div class="pagina" id="sobre-pagina">
            <% include temp/cubo-sobre.html %>
            <% include temp/todos-liberdade.html %>
        </div>
        <div class="pagina" id="times-pagina">
            <h1>Lista de times</h1>
            <p class="subtitulo">Esses são os times que disputam o <b>Nível 1</b> da <a href="#campeonato">Liga Nacional de Futebol</a>:</p>
            <%
                var x;
                for (x = 0; x <= times.length - 1; x = x + 1) {
            %>
            <div class="divisor"></div>
            <div class="time">
                <h2><%= times[x].nome %></h2>
                <p class="subtitulo"><%= times[x].nomeCompleto %></p>
                <p class="subtitulo"><a href="<%= times[x].cidadeLink %>"><%= times[x].cidadeNome %></a> - <a href="<%= times[x].estadoLink %>" class="estado"><%= times[x].estadoNome %></a></p>
                <div class="e-e-u"><img class="escudo" src="img/escudo-<%= times[x].caminho %>.svg" alt="Escudo do <%= times[x].nome %>"><img class="uniforme" src="img/uniforme-<%= times[x].caminho %>.svg" alt="Uniforme do <%= times[x].nome %>"></div>
            </div>
            <%
                }
            %>
        </div>
        <footer id="rodape">
            <img id="logo" src="img/logo-cubo-esporte.svg" alt="Logo do 'Cubo Esporte'">
        </footer>
    </body>
</html>