<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>1995</title>

    <!-- Web Components Polyfill -->
    <script>

    // load webcomponents polyfills
    (function() {
        if ('registerElement' in document
        && 'import' in document.createElement('link')
        && 'content' in document.createElement('template')) {
            // browser has web components
        } else {
            // polyfill web components
            var e = document.createElement('script');
            e.src = '/bower_components/webcomponentsjs/webcomponents-lite.min.js';
            document.head.appendChild(e);
        }
    })();

    </script>

    <!-- CUSTOM ELEMENTS -->
    <link async rel="import" href="1995-elementos.html">

</head>
<body>
    <template is="dom-bind">
        <app-header-layout>
            <app-header fixed shadow>
                <app-toolbar class="tamanho-limitado">
                    <!-- <paper-button>Cancelar</paper-button>
                    <div id="logo" title></div>
                    <paper-button disabled>Criar</paper-button> -->
                    <paper-icon-button icon="arrow-back"></paper-icon-button>
                </app-toolbar>
            </app-header>
            <iron-pages class="tamanho-limitado" selected="2">
                <div>
                    <paper-input label="Filtro">
                        <iron-icon icon="search" prefix></iron-icon>
                    </paper-input>
                    <paper-dropdown-menu label="Organizado por">
                        <paper-listbox class="dropdown-content">
                            <paper-item>Mais populares</paper-item>
                            <paper-item>Mais recentes</paper-item>
                            <paper-item>Mais antigos</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>
                    <paper-card heading="Talvez eu tenha sido a pessoa certa na hora errada." image="/img/smile.jpg">
                        <div class="card-actions">
                            <paper-icon-button icon="favorite"></paper-icon-button>
                            <paper-icon-button icon="social:share"></paper-icon-button>
                            <span class="autor">Mariana Silva</span>
                        </div>
                    </paper-card>
                    <paper-card heading="Eu queria que você estivesse aqui para eu poder te abraçar." image="/img/hug.jpg">
                        <div class="card-actions">
                            <paper-icon-button icon="favorite"></paper-icon-button>
                            <paper-icon-button icon="social:share"></paper-icon-button>
                            <span class="autor">Carlos Souza</span>
                        </div>
                    </paper-card>
                    <paper-fab icon="create" mini></paper-fab>
                </div>
                <div class="conteudo">
                    <paper-card class="card-build" heading="{{frase}}" image="/img/void.png">
                        <div class="card-content"><b>Arraste uma foto</b> para o espaço acima, ou toque em 'subir foto'.</div>
                        <div class="card-actions">
                            <paper-button>Subir foto</paper-button>
                        </div>
                    </paper-card>
                    <paper-textarea label="Escreva sua frase aqui" value="{{frase}}"></paper-textarea>
                </div>
                <div class="conteudo">
                    <p class="fonte-alt">Entre para poder criar e votar em momentos!</p>
                    <paper-button class="botao-login" raised>Entrar com Facebook</paper-button>
                    <iron-image src="/img/camera.png"></iron-image>
                </div>
            </iron-pages>
        </app-header-layout>
    </template>
</body>
</html>
