<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://o-diogocampos.rhcloud.com/a-solucao-para-tudo.html" />
        
        <!-- Nome/Título -->
        <meta name="application-name" content="A Solução Para Tudo">
        <title>A Solução Para Tudo</title>
        <meta property="og:title" content="A Solução Para Tudo" />
        
        <!-- Descrição -->
        <meta name="description" content="Uma obra literária completamente sem sentido e desconexa; que satiriza, sutilmente, livros, mercado, tradicionalismo, retórica e ausência de conteúdo.">
        <meta property="og:description" content="Uma obra literária completamente sem sentido e desconexa; que satiriza, sutilmente, livros, mercado, tradicionalismo, retórica e ausência de conteúdo." />
        
        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="https://o-diogocampos.rhcloud.com/">
        
        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        
        <!-- Ícones -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-a-solucao-para-tudo.png">
        <meta property="og:image" content="https://o-diogocampos.rhcloud.com/img/icone-a-solucao-para-tudo.png" />
        
        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        
        <!-- CUSTOM ELEMENTS -->
        <!-- Iron -->
        <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
        <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
        <link rel="import" href="bower_components/iron-pages/iron-pages.html">
        <link rel="import" href="bower_components/iron-icon/iron-icon.html">
        <link rel="import" href="bower_components/iron-icons/aspt-icons.html">
<!--        <link rel="import" href="bower_components/iron-page-url/iron-page-url.html">-->
        <!-- Paper -->
        <link rel="import" href="bower_components/paper-styles/default-theme.html">
        <link rel="import" href="bower_components/paper-styles/color.html">
        <link rel="import" href="bower_components/paper-styles/typography.html">
        <link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
        <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="bower_components/paper-spinner/paper-spinner-lite.html">
        <link rel="import" href="bower_components/paper-item/paper-item.html">
        <link rel="import" href="bower_components/paper-item/paper-icon-item.html">
        <!-- Neon -->
        <!-- Molecules -->
        <link rel="import" href="bower_components/marked-element/marked-element.html">

        <!-- CSS -->
        <link rel="import" href="css/inline/a-solucao-para-tudo-estilos.html">
        
        <!-- JS -->
        <script src="js/inline/a-solucao-para-tudo.js"></script>
    </head>
    <body>
        <template is="dom-bind" id="app">
            <paper-header-panel mode="seamed">
                <paper-toolbar>
                    <iron-icon hidden$={{esconderBotoesPrincipais}} icon="aspt:icone"></iron-icon>
                    <paper-icon-button class="sem-margem" hidden$={{esconderBotoesSecundarios}} icon="aspt:arrow-back" on-mousedown="esconderCapitulo"></paper-icon-button>
                    <div class="title">A Solução Para Tudo</div>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="capitulos" noink icon="aspt:list" on-mousedown="alterarPagina"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="sobre" noink icon="aspt:help" on-mousedown="alterarPagina"></paper-icon-button>
                    <!--
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="aspt:navigate-before" on-mousedown="capituloProximo"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="aspt:navigate-next" on-mousedown="capituloAnterior"></paper-icon-button>
                    -->
                </paper-toolbar>
                <iron-pages selected="{{pagina}}">
                    <div>
                        <paper-spinner-lite hidden$={{esconderSpinner}} active></paper-spinner-lite>
                        <marked-element markdown="{{capitulo}}">
                            <div class="markdown-html"></div>
                        </marked-element>
                    </div>
                    <div>
                        <h1>Capítulos</h1>
                        <template is="dom-repeat" items="{{capitulos}}">
                            <paper-item data-capitulo-numero$="{{index}}" on-mousedown="mostrarCapitulo">{{item.titulo}}</paper-item>
                        </template>
                    </div>
                    <div>
                        <h1>O que é?</h1>
                        <p>A Solução Para Tudo é uma <strong>obra literária completamente sem sentido</strong> e desconexa; que satiriza, sutilmente, livros, mercado, tradicionalismo, retórica e ausência de conteúdo.</p>
                        <p>Feito por <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>, é um trabalho totalmente independente e <a href="#liberdade">livremente licenciado</a>.</p>
                    </div>
                </iron-pages>
            </paper-header-panel>
            <iron-page-url hash={{hash}}></iron-page-url>
            <iron-ajax auto url="{{urlCapitulo}}" handle-as="text" on-response="processarCapitulo"></iron-ajax>
        </template>
    </body>
</html>
