<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://o-diogocampos.rhcloud.com/aline-em-lugar-algum.html" />
        
        <!-- Nome/Título -->
        <meta name="application-name" content="Aline Em Lugar Algum">
        <title>Aline Em Lugar Algum</title>
        <meta property="og:title" content="Aline Em Lugar Algum" />
        
        <!-- Descrição -->
        <meta name="description" content="Uma história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central.">
        <meta property="og:description" content="Uma história interativa em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central." />
        
        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="https://o-diogocampos.rhcloud.com/">
        
        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        
        <!-- Ícones -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-aline-em-lugar-algum.png">
        <meta property="og:image" content="https://o-diogocampos.rhcloud.com/img/icone-aline-em-lugar-algum.png" />
        
        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        
        <!-- CUSTOM ELEMENTS -->
        <!-- Iron -->
        <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
        <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
        <link rel="import" href="bower_components/iron-pages/iron-pages.html">
        <link rel="import" href="bower_components/iron-icon/iron-icon.html">
        <link rel="import" href="bower_components/iron-icons/aela-icons.html">
        <!--<link rel="import" href="bower_components/iron-page-url/iron-page-url.html">-->
        <!-- Paper -->
        <link rel="import" href="bower_components/paper-styles/default-theme.html">
        <link rel="import" href="bower_components/paper-styles/color.html">
        <link rel="import" href="bower_components/paper-styles/typography.html">
        <link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
        <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="bower_components/paper-spinner/paper-spinner-lite.html">
        <link rel="import" href="bower_components/paper-item/paper-item.html">
        <link rel="import" href="bower_components/paper-item/paper-icon-item.html">
        <!-- Neon -->
        <!-- Molecules -->
        <link rel="import" href="bower_components/marked-element/marked-element.html">

        <!-- CSS -->
        <link rel="import" href="css/inline/aline-em-lugar-algum-estilos.html">
        
        <!-- JS -->
        <script src="js/inline/aline-em-lugar-algum.js"></script>
    </head>
    <body>
        <template is="dom-bind" id="app">
            <paper-header-panel mode="seamed">
                <paper-toolbar>
                    <iron-icon hidden$={{esconderBotoesPrincipais}} icon="aela:icone"></iron-icon>
                    <paper-icon-button class="sem-margem" hidden$={{esconderBotoesSecundarios}} icon="aela:arrow-back" on-mousedown="esconderCapitulo"></paper-icon-button>
                    <div class="title">Aline Em Lugar Algum</div>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="capitulos" noink icon="aela:list" on-mousedown="alterarPagina"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="sobre" noink icon="aela:help" on-mousedown="alterarPagina"></paper-icon-button>
                    <!--
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="aela:navigate-before" on-mousedown="capituloProximo"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="aela:navigate-next" on-mousedown="capituloAnterior"></paper-icon-button>
                    -->
                </paper-toolbar>
                <iron-pages selected="{{pagina}}">
                    <div>
                        <paper-spinner-lite hidden$={{esconderSpinner}} active></paper-spinner-lite>
                        <marked-element markdown="{{capitulo}}">
                            <div class="markdown-html"></div>
                        </marked-element>
                    </div>
                    <div>
                        <h1>Capítulos</h1>
                        <template is="dom-repeat" items="{{capitulos}}">
                            <paper-item data-capitulo-numero$="{{index}}" on-mousedown="mostrarCapitulo">{{item.titulo}}</paper-item>
                        </template>
                    </div>
                    <div>
                        <h1>O que é?</h1>
                        <p>Aline Em Lugar Algum é uma <strong>história interativa</strong> em que os leitores definem o rumo dos capítulos ao votarem nas decisões da personagem central.</p>
                        <p>Como o próprio nome sugere, é sobre uma garota não-tão-convencional que, de repente, se encontra num lugar desconhecido, estranho e bizarro.</p>
                        <p>Se encaixa nos gêneros de aventura, terror e horror (entre outros); e contém doses de psicodelia, melancolia e bipolaridade.</p>
                        <p>Por fim, é um trabalho totalmente independente, <a href="#liberdade">livremente licenciado</a> e feito por <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>.</p>
                        
                        <h1>Como funciona?</h1>
                        <p>Os capítulos são <a href="aline-em-lugar-algum-capitulo-2.html#decida">decididos</a> pelos leitores, através de enquetes em redes sociais.</p>
                        <p>E são <a href="aline-em-lugar-algum-capitulo-2.html#contribua">financiados</a> também pelos próprios leitores, que podem contribuir com o <strong>quanto quiserem</strong> e quando quiserem.</p>
                        <p>Quando a <a href="aline-em-lugar-algum-capitulo-2.html#estado">meta financeira</a> for alcançada, as enquetes serão encerradas e um novo capítulo será criado com base na decisão mais votada.</p>
                    </div>
                </iron-pages>
            </paper-header-panel>
            <iron-page-url hash={{hash}}></iron-page-url>
            <iron-ajax auto url="{{urlCapitulo}}" handle-as="text" on-response="processarCapitulo"></iron-ajax>
        </template>
    </body>
</html>
