<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://o-diogocampos.rhcloud.com/autonomia.html" />

        <!-- Nome/Título -->
        <meta name="application-name" content="Autonomia">
        <title>Autonomia</title>
        <meta property="og:title" content="Autonomia" />

        <!-- Descrição -->
        <meta name="description" content="Associação de profissionais autônomos que oferece produtos e serviços de baixo custo e alta qualidade; e que é livre, justa e transparente.">
        <meta property="og:description" content="Associação de profissionais autônomos que oferece produtos e serviços de baixo custo e alta qualidade; e que é livre, justa e transparente." />

        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="https://o-diogocampos.rhcloud.com/">

        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">

        <!-- Ícones -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/autonomia-icone-favicon.png">
        <meta property="og:image" content="https://o-diogocampos.rhcloud.com/img/autonomia-icone-social.png" />

        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>

        <!-- CUSTOM ELEMENTS -->
        <!-- Iron -->
        <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
        <link rel="import" href="bower_components/iron-icon/iron-icon.html">
        <link rel="import" href="bower_components/iron-icons/a-icons.html">
        <link rel="import" href="bower_components/iron-pages/iron-pages.html">
        <!-- Paper -->
        <link rel="import" href="bower_components/paper-styles/default-theme.html">
        <link rel="import" href="bower_components/paper-styles/color.html">
        <link rel="import" href="bower_components/paper-styles/typography.html">
        <link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
        <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="bower_components/paper-button/paper-button.html">
        <!-- Neon -->
        <!-- Molecules -->

        <!-- CSS -->
        <link rel="import" href="css/inline/autonomia-estilos.html">

        <!-- JS -->
        <script src="js/inline/autonomia.js"></script>
    </head>
    <body>
        <template is="dom-bind" id="app">
            <paper-header-panel mode="seamed">
                <paper-toolbar>
                    <iron-icon icon="a:icone"></iron-icon>
                    <div class="title">Autonomia</div>
                    <paper-icon-button disabled$={{desabilitarBotaoPrincipal}} noink icon="a:principal" on-mousedown="irPaginaPrincipal"></paper-icon-button>
                    <paper-icon-button disabled$={{desabilitarBotaoFaq}} noink icon="a:mais-sobre" on-mousedown="irPaginaFaq"></paper-icon-button>
                    <paper-icon-button disabled$={{desabilitarBotaoSistemas}} noink icon="a:sistemas" on-mousedown="irPaginaSistemas"></paper-icon-button>
                </paper-toolbar>
                <div id="conteudo">
                    <iron-pages selected="{{pagina}}">
                        <div>
                            <h1>Sobre nós</h1>
                            <p>Somos uma <b>associação de profissionais autônomos</b> sem fins lucrativos, que é livre, justa e transparente; e que oferece produtos e serviços de qualidade a preço de custo.</p>
                            <paper-button noink on-mousedown="irPaginaFaq">Saiba mais</paper-button>
                            <div class="divisor"></div>
                            <h1>Nossos produtos e serviços</h1>
                            <ul id="lista-de-produtos">
                                <li>
                                    <iron-icon icon="a:navigate-next"></iron-icon><div>Artes gráficas<br>
                                    <span class="texto-secundario">Para logos, cartões de visita, folders, flyers, cardápios, capas, cartazes, placas, outdoors, sites, e-mail marketing, mídias sociais, campanhas políticas, campanhas publicitárias, e outros.</span></div>
                                </li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Caricaturas</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Ilustrações e desenhos</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Diagramações</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Revisões e resumos textuais (português e inglês)</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Traduções (inglês-português e japonês-português)</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Digitação de documentos</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Apresentação de dados e informações (estratificação, gráficos, infográficos, slides)</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>Programação de sites e aplicativos</div></li>
                                <li><iron-icon icon="a:navigate-next"></iron-icon><div>E mais!</div></li>
                            </ul>
                            <p>Acesse nossa <a href="https://www.facebook.com/busqueporautonomia/">página no Facebook</a> e mande uma mensagem <b>pedindo um orçamento</b> do que lhe interessa. É fácil, instantâneo, e você fala com uma pessoa, não com um robô!</p>
                            <div class="divisor"></div>
                            <h1>Melhor para todos</h1>
                            <p>O modelo comercial e social do Autonomia é inovador, justo e otimizado. O que faz ambos os lados do negócio ganharem vantagens:</p>
                                <h2>Benefícios para os clientes</h2>
                                <ul class="lista-mais">
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Preço de custo.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Ótima qualidade.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Garantia de entrega.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Grande (e crescente) diversidade de produtos e serviços.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Nenhum tempo gasto na procura por empresas ou profissionais confiáveis.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Nenhum tempo gasto na comparação de preços e orçamentos.</span></li>
                                </ul>
                                <h2>Benefícios para os profissionais</h2>
                                <ul class="lista-mais">
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Potencial estabilidade financeira.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Flexibilidade de horários.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Garantia de pagamento.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Valores justos e transparentes.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Nenhum tempo gasto na procura por clientes e trabalhos.</span></li>
                                    <li><iron-icon icon="a:mais"></iron-icon><span>Nenhuma obrigatoriedade de comunicação com o cliente.</span></li>
                                </ul>
                                <paper-button noink on-mousedown="irPaginaSistemas">Entenda porquê</paper-button>
                        </div>
                        <div>
                            <h1>Como tudo funciona</h1>
                            <ol id="lista-passos">
                                <li><span class="numero-lista-passos"><span>1</span></span><span>O Cliente pede um orçamento de determinado produto ou serviço para o Autonomia.</span></li>
                                <li><span class="numero-lista-passos"><span>2</span></span><span>O Autonomia entra em contato com os Profissionais mais adequados, pede um orçamento para cada, e elege o melhor.</span></li>
                                <li><span class="numero-lista-passos"><span>3</span></span><span>O Autonomia repassa o valor total ao Cliente que, então, efetua o pagamento para o Autonomia.</span></li>
                                <li><span class="numero-lista-passos"><span>4</span></span><span>O Autonomia avisa o Profissional do orçamento eleito que o pagamento foi feito.</span></li>
                                <li><span class="numero-lista-passos"><span>5</span></span><span>O Profissional entrega o trabalho para o Autonomia, que avalia-o e repassa-o ao Cliente.</span></li>
                                <li><span class="numero-lista-passos"><span>6</span></span><span>O Autonomia, então, paga o Profissional.</span></li>
                            </ol>
                            <p>Além disso, entre esses passos estão envolvidos alguns sistemas estratégicos usados pelo Autonomia. São eles:</p>
                            
                            <h2>Sistema de Seleção</h2>
                            <p>Quando um profissional se associa ao Autonomia, ele envia sua lista de habilidades ordenada por quais mais gosta de fazer.</p>
                            <p>Então, quando um cliente pede um orçamento, o Autonomia verifica o banco de dados de profissionais, seleciona os que mais gostam de fazer aquele tipo de trabalho, e pede um orçamento para cada.</p>
                            <p>Afinal, quanto mais um profissional gosta da tarefa: mais ele produz, mais ele sorri, e ambos em melhor qualidade.</p>
                            
                            <h2>Sistema de Rodízio</h2>
                            <p>Só o Sistema de Seleção não aplica equilíbrio (nem filtro) o suficiente, por isso existe também o Sistema de Rodízio.</p>
                            <p>Esse sistema faz com que, dentre todos os profissionais pré-selecionados, tenham a preferência para apresentar orçamentos aqueles que trabalharam menos horas no mês.</p>
                            <p>Da mesma forma, os profissionais que já trabalharam 160 horas (8 horas x 5 dias x 4 semanas) no mês vigente, raramente serão consultados para fazer orçamentos naquele mesmo mês.</p>
                            <p>O Rodízio, portanto, garante que o máximo de profissionais possível tenha chance de trabalhar, mesmo em tempos de crise. E também garante um mínimo de fluxo e estabilidade financeira para muitos.</p>
                            
                            <h2>Sistema de Orçamento</h2>
                            <p>Quando abordado pelo Autonomia, o profissional analisa o trabalho pedido e responde com quantas horas precisará para realizar tal tarefa.</p>
                            <p>Além disso, é importante destacar que a associação paga <b>11 (onze) Reais por hora</b> para todos os profissionais (até mesmo para os que trabalham na gerência).</p>
                            <p>Vale notar que <b>R$ 11</b> por hora é o equivalente a <b>R$ 1.760</b> (2 salários mínimos) por mês (8 horas x 5 dias x 4 semanas).</p>
                            <p>Portanto, das informações anteriores será gerado o valor total para aquele orçamento. Ou seja, se o profissional:</p>
                            <ul>
                                <li>Precisar de <b>1 hora</b>, o orçamento custará <b>R$ 11</b>.</li>
                                <li>Precisar de <b>8 horas</b>, o orçamento custará <b>R$ 88</b>.</li>
                                <li>Precisar de <b>40 horas</b>, o orçamento custará <b>R$ 440</b>.</li>
                                <li>E assim para qualquer outra quantidade de horas.</li>
                            </ul>
                            <p>Por fim, sobre esse sistema, é importante salientar duas coisas:</p>
                            <p>Caso o profissional erre (ou minta) a quantidade de horas necessárias para <b>cima</b>, ele apenas estará diminuindo drasticamente suas chances de ter o orçamento selecionado pelo Autonomia, e de ter o orçamento aceito pelo cliente.</p>
                            <p>E caso o profissional erre (ou minta) a quantidade de horas necessárias para <b>baixo</b>, ele apenas estará, infelizmente, trabalhando por menos Reais por hora do que os outros associados.</p>
                        </div>
                        <div>
                            <h1>O Autonomia é</h1>
                            <p>Uma <b>associação de profissionais autônomos</b> que busca corrigir problemas crônicos da vida de <i>freelancer</i>; bem como organizar, simplificar e estimular o mercado de produtos e serviços independentes.</p>
                            
                            <h1>Faça parte</h1>
                            <p>Apenas <a href="https://www.facebook.com/busqueporautonomia/">contate-nos</a> e conte-nos quem você é, o que sabe, o que já fez e o que gosta para, então, se tornar automaticamente um associado.</p>
                            <p>Quando surgir um trabalho que é a sua cara, te pediremos um orçamento no mesmo instante.</p>
                            <p>Você também vai precisar de uma conta (gratuita) no serviço <a href="https://pagseguro.uol.com.br/">PagSeguro</a> para receber os pagamentos.</p>
                            
                            <h1>Continue com tudo</h1>
                            <p>Não é necessário nenhum tipo de "contrato" ou "exclusividade" para fazer parte do Autonomia. Você pode continuar procurando, gerenciando e realizando trabalhos por conta própria. E pode até ter emprego fixo, aliás.</p>
                            <p>Só o que muda é que, quando surgir um trabalho que você seja capaz de fazer bem, iremos te perguntar se tem interesse e, se sim, quanto cobra.</p>
                            
                            <h1>Igualdade</h1>
                            <p>Em resumo, não há o conceito de lucro em nosso formato comercial. Ou seja, não há ninguém que acumule dinheiro sem fazer nada. E todos recebem o mesmo valor por hora trabalhada; até mesmo a gerência do Autonomia.</p>
                            <!--<p>Isso significa que há, portanto, potenciais valores sobrando no mercado, que são repassados tanto para o cliente, em forma de menor custo, quanto para o profissional, em forma de melhor remuneração.</p>-->

                            <h1>Profissionalismo apenas</h1>
                            <p>Os orçamentos são apresentados ao cliente sem menção aos profissionais envolvidos para evitar que comportamentos sociais danosos (como racismo, machismo, homofobia, gordofobia, xenofobia, etc) interfiram num processo que deve ser estritamente profissional.</p>

                            <h1>Sobre se manter de pé</h1>
                            <p>No orçamento completo entregue ao cliente já está incluso o valor referente à carga horária do profissional da gerência do Autonomia envolvido na tarefa em questão.</p>
                            <p>Eventuais valores residuais e extras são utilizados para gerar uma reserva financeira para emergências e levantar fundos para investimentos.</p>
                            
                            <h1>Transparência cristalina</h1>
                            <p>Todo mês são divulgados documentos com o número de trabalhos realizados, valores cobrados, lista de profissionais beneficiados, valores arrecadados pelo Autonomia, gastos realizados pelo Autonomia, e outras informações que interessem a comunidade.</p>
                            
                            <h1>Objetivos profissionais</h1>
                            <ul>
                                <li>Distribuir até 2 salários mínimos, mensalmente, para diversos profissionais autônomos.</li>
                                <li>Oferecer serviços de qualidade controlada, entrega garantida e custo justo para os clientes.</li>
                                <li>Organizar o mercado de profissionais autônomos e, com isso, fazer (bem) fluir uma parcela da economia brasileira.</li>
                            </ul>
                            
                            <h1>Objetivos sociais</h1>
                            <ul>
                                <li>Tornar a independência profissional uma realidade viável e atrativa.</li>
                                <li>Diminuir o lucro acumulado; distribuir a massa financeira de maneira mais justa.</li>
                                <li>Estimular outras formas de organização e cooperação entre os cidadãos.</li>
                            </ul>
                            
                            <h1>Contribua!</h1>
                            <p>O sucesso do Autonomia é o seu sucesso (e o de muitas outras pessoas). E dessas formas você pode contribuir com esse sucesso:</p>
                            <ul>
                                <li>Divulgações, compartilhamentos e recomendações sobre nós.</li>
                                <li>Idéias e sugestões para o projeto.</li>
                                <li>Códigos e programação para este site.</li>
                                <li>Gráficos e design para este site ou para o projeto.</li>
                            </ul>
                            
                            <h1>Cultura Livre!</h1>
                            <p>O website é distribuído sob a licença <b>GNU AGPL v3</b>.</p>
                            <p>Os textos, o logo e o ícone do website são distribuídos sob a licença <b>CC BY-SA 4.0</b>.</p>
                            <p>Todos estes podem ser obtidos no <a href="https://gitlab.com/diogocampos/dc">GitLab</a>, e, por enquanto, são de autoria de <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>.</p>
                            
                            <h1>O culpado</h1>
                            <p>Atualmente eu, <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>, sou a força motriz do projeto.</p>
                            <p>E conto com o apoio de algumas excelentes pessoas e com o entusiasmo de várias outras :)</p>
                        </div>
                    </iron-pages>
                    <footer>
                        <div id="icone-rodape">
                            <img id="icone" src="img/autonomia-icone.svg" alt="Ícone do Autonomia">
                        </div>
                        <div id="conteudo-rodape">
                            <div id="citacao">"Busque por Autonomia; e deixe seu coração bater."</div>
                        </div>
                    </footer>
                </div>
            </paper-header-panel>
        </template>
    </body>
</html>
