<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://o-diogocampos.rhcloud.com/c4.html" />
        
        <!-- Nome/Título -->
        <meta name="application-name" content="C4">
        <title>C4</title>
        <meta property="og:title" content="C4" />
        
        <!-- Descrição -->
        <meta name="description" content="Sátira de mídia e comportamento.">
        <meta property="og:description" content="Sátira de mídia e comportamento." />
        
        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="https://o-diogocampos.rhcloud.com/">
        
        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        
        <!-- Ícones -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/c4-icone.png">
        <meta property="og:image" content="https://o-diogocampos.rhcloud.com/img/c4-icone.png" />
        
        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        
        <!-- CUSTOM ELEMENTS -->
        <!-- Iron -->
        <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
        <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
        <link rel="import" href="bower_components/iron-pages/iron-pages.html">
        <link rel="import" href="bower_components/iron-icon/iron-icon.html">
        <link rel="import" href="bower_components/iron-icons/c4-icons.html">
<!--        <link rel="import" href="bower_components/iron-page-url/iron-page-url.html">-->
        <!-- Paper -->
        <link rel="import" href="bower_components/paper-styles/default-theme.html">
        <link rel="import" href="bower_components/paper-styles/color.html">
        <link rel="import" href="bower_components/paper-styles/typography.html">
        <link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
        <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="bower_components/paper-spinner/paper-spinner-lite.html">
        <link rel="import" href="bower_components/paper-item/paper-item.html">
        <link rel="import" href="bower_components/paper-item/paper-icon-item.html">
        <!-- Neon -->
        <!-- Molecules -->
        <link rel="import" href="bower_components/marked-element/marked-element.html">

        <!-- CSS -->
        <link rel="import" href="css/inline/c4-estilos.html">
        
        <!-- JS -->
        <script src="js/inline/c4.js"></script>
    </head>
    <body>
        <template is="dom-bind" id="app">
            <paper-header-panel mode="seamed">
                <paper-toolbar>
                    <iron-icon hidden$={{esconderBotoesPrincipais}} icon="c4:icone"></iron-icon>
                    <paper-icon-button class="sem-margem" hidden$={{esconderBotoesSecundarios}} icon="c4:arrow-back" on-mousedown="esconderNoticia"></paper-icon-button>
                    <div class="title">C4</div>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="noticias" noink icon="c4:list" on-mousedown="alterarPagina"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="sobre" noink icon="c4:help" on-mousedown="alterarPagina"></paper-icon-button>
                    <!--
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="c4:navigate-before" on-mousedown="noticiaProxima"></paper-icon-button>
                    <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="c4:navigate-next" on-mousedown="noticiaAnterior"></paper-icon-button>
                    -->
                </paper-toolbar>
                <iron-pages selected="{{pagina}}">
                    <div>
                        <paper-spinner-lite hidden$={{esconderSpinner}} active></paper-spinner-lite>
                        <marked-element markdown="{{noticia}}">
                            <div class="markdown-html"></div>
                        </marked-element>
                    </div>
                    <div>
                        <h1>Notícias</h1>
                        <template is="dom-repeat" items="{{noticias}}">
                            <paper-item data-noticia-numero$="{{index}}" on-mousedown="mostrarNoticia">{{item.titulo}}</paper-item>
                        </template>
                    </div>
                    <div>
                        <h1>Sobre</h1>
                        <p>C4 é uma <strong>sátira da mídia de massa tradicional</strong>; um portal de notícias com todo o foco, padronização e tirania comportamental que o cidadão-padrão adora amar.</p>
                        <p>É um trabalho totalmente <strong>independente</strong>, distribuído sob uma <strong>licença livre</strong> e feito por <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>.</p>
                    </div>
                </iron-pages>
            </paper-header-panel>
            <iron-page-url hash={{hash}}></iron-page-url>
            <iron-ajax auto url="{{urlNoticia}}" handle-as="text" on-response="processarNoticia"></iron-ajax>
        </template>
    </body>
</html>
