<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:url" content="https://o-diogocampos.rhcloud.com/cubo-esporte.html" />
        
        <!-- Nome/Título -->
        <meta name="application-name" content="Cubo Esporte">
        <title>Cubo Esporte</title>
        <meta property="og:title" content="Cubo Esporte" />
        
        <!-- Descrição -->
        <meta name="description" content="Sátira de futebol profissional e mídia de massa.">
        <meta property="og:description" content="Sátira de futebol profissional e mídia de massa." />
        
        <!-- Autor -->
        <meta name="author" content="Diogo Campos">
        <link rel="author" href="https://o-diogocampos.rhcloud.com/">
        
        <!-- Licença -->
        <link rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        
        <!-- Ícones -->
        <link rel="icon" type="image/png" sizes="256x256" href="img/icone-cubo-esporte.png">
        <meta property="og:image" content="https://o-diogocampos.rhcloud.com/img/icone-cubo-esporte.png" />
        
        <!-- Web Components Polyfill -->
        <script src="bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
        
        <!-- CUSTOM ELEMENTS -->
        <!-- Iron -->
        <link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
        <link rel="import" href="bower_components/iron-ajax/iron-ajax.html">
        <link rel="import" href="bower_components/iron-pages/iron-pages.html">
        <link rel="import" href="bower_components/iron-icon/iron-icon.html">
        <link rel="import" href="bower_components/iron-icons/ce-icons.html">
        <!--<link rel="import" href="bower_components/iron-page-url/iron-page-url.html">-->
        <!-- Paper -->
        <link rel="import" href="bower_components/paper-styles/default-theme.html">
        <link rel="import" href="bower_components/paper-styles/color.html">
        <link rel="import" href="bower_components/paper-styles/typography.html">
        <link rel="import" href="bower_components/paper-header-panel/paper-header-panel.html">
        <link rel="import" href="bower_components/paper-toolbar/paper-toolbar.html">
        <link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
        <link rel="import" href="bower_components/paper-button/paper-button.html">
        <link rel="import" href="bower_components/paper-icon-button/paper-icon-button.html">
        <link rel="import" href="bower_components/paper-spinner/paper-spinner-lite.html">
        <link rel="import" href="bower_components/paper-item/paper-item.html">
        <link rel="import" href="bower_components/paper-item/paper-icon-item.html">
        <!-- Neon -->
        <!-- Molecules -->
        <link rel="import" href="bower_components/marked-element/marked-element.html">

        <!-- CSS -->
        <link rel="import" href="css/inline/cubo-esporte-estilos.html">
        
        <!-- JS -->
        <script src="js/inline/cubo-esporte.js"></script>
    </head>
    <body>
        <template is="dom-bind" id="app">
                <paper-header-panel mode="seamed">
                    <paper-toolbar>
                        <iron-icon hidden$={{esconderBotoesPrincipais}} icon="ce:noticias"></iron-icon>
                        <paper-icon-button class="sem-margem" hidden$={{esconderBotoesSecundarios}} icon="ce:arrow-back" on-mousedown="esconderNoticia"></paper-icon-button>
                        <div class="title">Cubo Esporte</div>
                        <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="noticias" noink icon="ce:list" on-mousedown="alterarPagina"></paper-icon-button>
                        <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="times" noink icon="ce:times"  on-mousedown="alterarPagina"></paper-icon-button>
                        <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="campeonato" noink icon="ce:campeonato"  on-mousedown="alterarPagina"></paper-icon-button>
                        <paper-icon-button hidden$={{esconderBotoesPrincipais}} data-pagina-hash="sobre" noink icon="ce:help" on-mousedown="alterarPagina"></paper-icon-button>
                        <!--
                        <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="ce:navigate-before" on-mousedown="noticiaProxima"></paper-icon-button>
                        <paper-icon-button hidden$={{esconderBotoesSecundarios}} icon="ce:navigate-next" on-mousedown="noticiaAnterior"></paper-icon-button>
                        -->
                    </paper-toolbar>
                    <iron-pages selected="{{pagina}}">
                        <div>
                            <paper-spinner-lite hidden$={{esconderSpinner}} active></paper-spinner-lite>
                            <marked-element markdown="{{noticia}}">
                                <div class="markdown-html"></div>
                            </marked-element>
                        </div>
                        <div>
                            <h1>Notícias</h1>
                            <template is="dom-repeat" items="{{noticias}}">
                                <paper-item data-noticia-numero$="{{index}}" on-mousedown="mostrarNoticia">{{item.titulo}}</paper-item>
                                <div class="divisor"></div>
                            </template>
                        </div>
                        <div>
                            <template is="dom-repeat" items="{{times}}">
                                <h2>{{item.nome}}</h2>
                                <p class="subtitulo">{{item.nomeCompleto}}</p>
                                <p class="subtitulo"><a href="{{item.cidadeLink}}">{{item.cidadeNome}}</a> - <a href="{{item.estadoLink}}">{{item.estadoNome}}</a></p>
                                <div class="imagens-do-time">
                                    <img src$="{{item.caminhoEscudo}}" alt="Escudo do {{item.nome}}">
                                    <img src$="{{item.caminhoUniforme}}" alt="Uniforme do {{item.nome}}">
                                </div>
                                <div class="espaco-baixo"></div>
                                <div class="divisor"></div>
                            </template>
                        </div>
                        <div>
                            <h1>Dados</h1>
                            <p><span class="fonte-grande">Liga Nacional de Futebol</span><br>
                                Nacionalzão<br>
                                Nível 1
                            </p>
                            <div class="divisor"></div>
                            <h1>Classificação</h1>
                            <table>
                                <tr>
                                    <td>Escudo</td>
                                    <td>Nome</td>
                                    <td>Pontos</td>
                                    <td>Jogos</td>
                                    <td>Vitórias</td>
                                </tr>
                            <template is="dom-repeat" items="{{times}}">
                                <tr>
                                    <td><img class="mini-escudo" src$="{{item.caminhoEscudo}}"></td>
                                    <td>{{item.nome}}</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                            </template>
                            </table>
                            <div class="divisor"></div>
                            <h1>Regulamento</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus.</p>
                        </div>
                        <div>
                            <h1>O que é?</h1>
                            <p>Cubo Esporte é uma <b>sátira do futebol profissional e da mídia de massa</b>, que simula a cobertura jornalística de um campeonato de futebol. Os times, campeonatos, nomes e marcas utilizados são completamente originais e fictícios.</p>
                            <p>É um trabalho totalmente <b>independente</b>, distribuído sob uma <b>licença livre</b> e feito por <a href="https://o-diogocampos.rhcloud.com/">Diogo Campos</a>.</p>
                            <div class="divisor"></div>
                            <h1>É livre!</h1>
                            <p>É <b>permitido</b> (e incentivado) usar qualquer conteúdo desse trabalho para qualquer propósito (<b>inclusive comercial</b>). Para isso, basta sempre me citar como sendo o autor original; e, se fizer um trabalho derivado, deve distribuí-lo sob as mesmas condições.</p>
                            <p>Isso é legalmente válido (e seguro) porque distribuo esse trabalho sob licenças livres. <a href="https://o-diogocampos.rhcloud.com/#contato">Contate-me</a> se quiser saber mais sobre esse assunto.</p>
                            <p>E, por falar nisso, aqui estão <a href="https://gitlab.com/diogocampos/dc">as licenças, os créditos e o código-fonte</a>.</p>
                        </div>
                    </iron-pages>
                </paper-header-panel>
            <iron-page-url hash={{hash}}></iron-page-url>
            <iron-ajax auto url="{{urlNoticia}}" handle-as="text" on-response="processarNoticia"></iron-ajax>
        </template>
    </body>
</html>
