<!-- Polymer -->
<link rel="import" href="bower_components/polymer/polymer.html">

<!-- Paper Styles -->
<link rel="import" href="bower_components/paper-styles/default-theme.html">
<link rel="import" href="bower_components/paper-styles/color.html">
<link rel="import" href="bower_components/paper-styles/typography.html">
<link rel="import" href="bower_components/paper-styles/shadow.html">

<!-- CSS -->
<link rel="import" href="css/inline/diogo-campos-estilos.html">

<!-- Iron -->
<link rel="import" href="bower_components/iron-flex-layout/iron-flex-layout.html">
<link rel="import" href="bower_components/iron-icon/iron-icon.html">
<link rel="import" href="bower_components/iron-icons/dc-icons.html">

<!-- Paper -->
<link rel="import" href="bower_components/paper-button/paper-button.html">
